#projects {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
#projects.light {
  background-color: #faf5fc;
}
#projects.dark {
  background-color: #0b071e;
}
.projects {
  width: 63%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects h1 {
  font-size: 20px;
  color: #239b56;
}
.projects > p {
  font-size: 30px;
}
.dark .projects > p {
  color: #e0dbe2;
}
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.project-box img {
  width: 100%;
  max-width: 450px;
  height: 300px;
  border-radius: 10px;
}
.project-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.box-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-details h2 {
  font-size: 25px;
  color: black;
}
.dark .box-details h2 {
  color: white;
}
.dark .box-details p {
  color: #e0dbe2;
}
.project-type {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 5px;
}
.project-type span {
  width: 180px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 8px;
  background-color: #f1e1f8;
  color: #6c3483;
  border: solid 2px #6c3483;
  transition: transform 0.3s ease;
}
.project-type span:hover {
  transform: translateY(-5px);
}
.box-details a {
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: #984ab8;
}
.dark .box-details a {
  color: #c648f8;
}
.box-details a:hover {
  color: #6c3483;
}

@media (max-width: 1024px) {
  .projects {
    width: 90%;
  }
  #projects {
    padding-bottom: 80px;
  }
  .project-box {
    gap: 30px;
  }
  .project-type span {
    width: 130px;
    font-size: 15px;
  }
  .project-box img {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .projects {
    width: 90%;
  }
  .projects-container {
    gap: 100px;
  }
  .project-box {
    display: flex;
    flex-direction: column;
  }
  .project-box img {
    width: 380px;
    height: 250px;
  }
  #project1 {
    flex-direction: column-reverse;
  }
}
