.body {
  height: auto;
  width: 100%;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(12px);
}
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.home.light {
  background-color: #faf5fc;
}
.home.dark {
  background-color: #0b071e;
}
.home section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home section > div {
  width: 63%;
}
.home-section {
  height: 92dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-s1-top {
  gap: 10px;
  background-position: center;
  background-size: cover;
}
.home-s1-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-s1-top p {
  font-size: 70px;
  max-width: 600px;
}
.light .home-s1-top p {
  color: #2c3e50;
}
.dark .home-s1-top p {
  color: #faf5fc;
}
.home-s1-top p > strong > span {
  color: #6c3483;
}
.dark .home-s1-top p > strong > span {
  color: #c648f8;
}
.home-s1-btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.home-s1-btns a {
  text-decoration: none;
  width: 150px;
}
.home-s1-btns button {
  height: 50px;
  max-width: 150px;
  width: 100%;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #239b56;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.home-s1-btns button:hover {
  background-color: #166337;
  border: solid 1px #bef3dd;
  transform: translateY(-2px);
}
.home-s1-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 10px;
}
.home-s1-bottom h1 {
  font-size: 25px;
  color: #999b9e;
}
.home-s1-bottom a {
  color: #239b56;
  text-decoration: none;
  transition: transform 0.5s ease;
}
.home-s1-bottom a:hover {
  transform: translateY(-2px);
}
.bottom-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 90dvh;
}
.work h1 {
  font-size: 20px;
  color: #239b56;
}
#link-to-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.work p {
  font-size: 30px;
}
.dark #link-to-projects > p {
  color: white;
}
#link-to-projects a {
  font-size: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.dark #link-to-projects a {
  color: white;
}
.works {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.works a {
  width: 31%;
  height: 460px;
  border: solid 1px gray;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.works a:hover {
  transform: translateY(-3px);
}
.link-top {
  background-position: center;
  background-size: cover;
}
#work-1 {
  background-image: url(../../assets/Growssify.png);
}
#work-2 {
  background-image: url(../../assets/kasivodrums.png);
}
.link-bottom {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 15px;
}
.link-bottom h2 {
  font-size: 22px;
}
.light .link-bottom h2 {
  color: black;
}
.dark .link-bottom h2 {
  color: white;
}
.link-bottom p {
  font-size: 17px;
}
.light .link-bottom p {
  color: #41474e;
}
.dark .link-bottom p {
  color: #e0dbe2;
}
.builds {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 50dvh;
}
.builds h1 {
  font-size: 20px;
  color: #239b56;
}
.builds > p {
  font-size: 30px;
}
.dark .builds > p {
  color: white;
}
.builds-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.build-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  height: 250px;
  border: solid 1px gray;
  border-radius: 12px;
  padding: 10px 20px;
}
#service-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #239b56;
  background-color: #e2f3ec;
  border-radius: 8px;
}
.build-cont h2 {
  font-size: 20px;
}
.dark .build-cont h2 {
  color: white;
}
.dark .build-cont p {
  color: #e0dbe2;
}
.build-cont a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dark .build-cont a {
  color: #e0dbe2;
}
