.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.home.light {
  background-color: #faf5fc;
}
.home.dark {
  background-color: #0b071e;
}
.home section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home section > div {
  width: 63%;
}
.home-section {
  height: 92dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-s1-top {
  gap: 10px;
  background-position: center;
  background-size: cover;
}
.home-s1-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-s1-top p {
  font-size: 70px;
  max-width: 600px;
}
.light .home-s1-top p {
  color: #2c3e50;
}
.dark .home-s1-top p {
  color: #faf5fc;
}
.home-s1-top p > strong > span {
  color: #6c3483;
}
.dark .home-s1-top p > strong > span {
  color: #c648f8;
}
.home-s1-btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.home-s1-btns a {
  text-decoration: none;
  width: 150px;
}
.home-s1-btns button {
  height: 50px;
  max-width: 150px;
  width: 100%;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #239b56;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.home-s1-btns button:hover {
  background-color: #166337;
  border: solid 1px #bef3dd;
  transform: translateY(-2px);
}
.home-s1-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 10px;
}
.home-s1-bottom h1 {
  font-size: 25px;
  color: #999b9e;
}
.home-s1-bottom a {
  color: #239b56;
  text-decoration: none;
  transition: transform 0.5s ease;
}
.home-s1-bottom a:hover {
  transform: translateY(-2px);
}
.bottom-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 90dvh;
}
.work h1 {
  font-size: 20px;
  color: #239b56;
}
#link-to-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.work p {
  font-size: 30px;
}
.dark #link-to-projects > p {
  color: white;
}
#link-to-projects a {
  font-size: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.works {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.works a {
  width: 31%;
  height: 460px;
  border: solid 1px gray;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.works a:hover {
  transform: translateY(-3px);
}
.link-top {
  background-position: center;
  background-size: cover;
}
#work-1 {
  background-image: url(../../assets/growssify.png);
}
#work-2 {
  background-image: url(../../assets/kasivodrumz.png);
}
#work-3 {
  background-image: url(../../assets/fidelmuthomi.png);
}
.link-bottom {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 15px;
}
.link-bottom h2 {
  font-size: 22px;
}
.light .link-bottom h2 {
  color: black;
}
.dark .link-bottom h2 {
  color: white;
}
.link-bottom p {
  font-size: 17px;
}
.light .link-bottom p {
  color: #41474e;
}
.dark .link-bottom p {
  color: #e0dbe2;
}
.builds {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 50dvh;
}
.builds h1 {
  font-size: 20px;
  color: #239b56;
}
.builds > p {
  font-size: 30px;
}
.dark .builds > p {
  color: white;
}
.builds-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.build-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 320px;
  height: 280px;
  border: solid 1px gray;
  border-radius: 12px;
  padding: 10px 20px;
}
#service-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #239b56;
  background-color: #e2f3ec;
  border-radius: 8px;
}
.build-cont h2 {
  font-size: 20px;
}
.dark .build-cont h2 {
  color: white;
}
.dark .build-cont p {
  color: #e0dbe2;
}
.build-cont a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dark a {
  color: #c648f8;
}

@media (max-width: 1024px) {
  .home section > div {
    width: 90%;
  }
  .home section {
    height: auto;
    padding-bottom: 50px;
  }
  .home-s1-top p {
    font-size: 50px;
    max-width: 450px;
  }
  .works a {
    width: 32%;
    height: 550px;
  }
  .build-cont {
    width: 280px;
  }
}

@media (max-width: 768px) {
  .home section > div {
    width: 90%;
  }
  .home-section {
    display: flex;
    justify-content: space-evenly;
    gap: 0;
  }
  .home-s1-top p {
    max-width: 300px;
    font-size: 45px;
  }
  .home-s1-btns a {
    width: 120px;
  }
  .home-s1-btns button {
    max-width: 120px;
    font-size: 15px;
    height: 40px;
  }
  .home-s1-bottom h1 {
    font-size: 22px;
  }
  .bottom-links {
    gap: 20px;
    flex-wrap: wrap;
  }
  .home-s1-bottom a {
    font-size: 17px;
  }
  .work {
    height: auto;
    padding-bottom: 50px;
  }
  .work p {
    font-size: 18px;
  }
  #link-to-projects a {
    font-size: 18px;
  }
  .works {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .works a {
    width: 100%;
    height: 480px;
  }
  .builds {
    height: auto;
  }
  .builds > p {
    font-size: 22px;
  }
  .builds-container {
    display: flex;
    flex-direction: column;
  }
  .builds-container p {
    font-size: 18px;
  }
  .build-cont {
    height: 230px;
  }
}
