#connect.light {
  background-color: #faf5fc;
}
#connect.dark {
  background-color: #0b071e;
}
.connect {
  height: 40dvh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.connect h1 {
  font-size: 25px;
}
.light .connect h1 {
  color: black;
}
.dark .connect h1 {
  color: white;
}
.connect p {
  font-size: 20px;
}
.dark .connect p {
  color: #e0dbe2;
}
.connect button {
  height: 50px;
  width: 200px;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #239b56;
  color: white;
}
